.about {
  &_content {
    display: flex;
    gap: 20px;
    padding: 20px;
    width: 100%;
    &_personalwrapper,
    &servicewrapper {
      width: 50%;
    }
    &_personalwrapper {
      h2 {
        margin-bottom: 10px;
        font-size: 2rem;
        font-weight: 700;
        color: #f1c40f;
      }
      h2.personalinfo {
        padding: 10px;
      }
      p {
        font-size: 15px;
        line-height: 1.65;
        padding-bottom: 10px;
        border-bottom: 1px dashed #f1c40f;
      }
      ul > li {
        line-height: 1rem;
        margin-bottom: 15px;
        span.title,
        span.value {
          font-size: 18px;
          font-weight: 500;
          letter-spacing: 0.5px;
          border-bottom: 2px solid #f1c40f;
          position: relative;
          display: inline-block;
          margin-right: 16px;
          padding-bottom: 4px;
        }
        span.value {
          border: none;
        }
      }
    }
    &_serviceswrapper_responsive {
      display: none;
    }
  }
}
@media only screen and (max-width: 768px) {
  .about_content {
    display: flex;
    gap: 10px;
    padding: 10px;
    width: 600px;
    &_personalwrapper {
      h2 {
        margin-bottom: 10px;
        font-size: 1.7rem;
        font-weight: 500;
        color: #f1c40f;
      }
      h2.personalinfo {
        padding: 5px;
      }
      p {
        font-size: 10px;
      }
      ul > li {
        line-height: 1rem;
        margin-bottom: 15px;
        span.title,
        span.value {
          font-size: 15px;
          font-weight: 500;
          letter-spacing: 0.5px;
          border-bottom: 2px solid #f1c40f;
          position: relative;
          display: inline-block;
          margin-right: 10px;
          padding-bottom: 4px;
        }
      }
    }
    &_serviceswrapper {
      display: none;
    }
    &_serviceswrapper_responsive{
        display: block;
    }
  }
}
