.contact-form-container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:rgb(34 33 35);
  }
  
  .contact-form-container h2 {
    text-align: center;
    color: #f1c40f;

  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    color: #f1c40f;
    font-size: larger;
  }
  
  input[type='text'],
  input[type='email'],
  input[type='tel'],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  textarea {
    height: 120px;
    resize: vertical;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #f1c40f;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 600px) {
    .contact-form-container {
      width: 90%;
      padding: 10px;
    }
  }
  