.pageheader{
    display: flex;
    align-items: center;
  
    padding: 20px;
    color: #f1c40f;
    border-bottom: 1px dashed #f1c40f;
    h1{
        font-size: 2.3rem;
        font-weight: 700;
        letter-spacing: 1.5px;
        line-height: 1rem;
        text-transform: capitalize;
        color: #f1c40f;
        display: flex;
        flex-grow:1;
        margin-left: 20px;
    }
    span{
        svg{
            color: #f1c40f ;
            
        }
    }
}
